/* Default styles for media screen less than 821px */

/* html tag use to determine font and background for the webpage */ 
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right bottom, #3bac0a, #379e08, #329007, #2e8206, #297505, #266c05, #236404, #205b04, #1e5504, #1c5004, #1a4a04, #184504);
    background-repeat: no-repeat;
    height: auto;
    min-height: 100%;
    color:white;
}

/* header tag use to determine padding size for the header */
header {
    padding: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
}

/* h1 tag use to determine font size and text aling */
h1 a {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color:white
}

/* center class use to determine text aling and padding size for some divs */
.center {
    text-align: center;
    padding: 1em;
}

/* score class use to determine display position, padding size and space between objects for scores */
.score {
    display: flex;
    padding: 1em;
    justify-content: space-evenly;
}

/* text id use to determine style for the text div in index page as font size, position and text align */
#text {
    text-align: justify;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
}

/* button tag use to determine style for the buttons in the site as color, size and others */
button, a.button {
    padding: 16px;
    padding-left: 48px;
    padding-right: 48px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:2em;
}

/* footer tag use to determine style for the footer with padding size and text align */
footer {
    padding: 1em;
    text-align: center;
}

/* f-icon class use to determine style for social media icons in the footer */
.f-icon {
    padding: 1em;
    width: 40px;
    height: inherit;
}

/* copyright id use to determine style for the copyright image in the footer */
#copyright {
    padding: 0;
    width: 15px;
    height: inherit;
}

/* img tag with attribute to determine size for image answers */
img#img_a,
img#img_b,
img#img_c {
    width: 35vw;
    height: 25vw;
    object-fit: cover;
}

/* answer id use to determine position for answers in the quiz page */
#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* question id use to determine position and size for questions */
#question {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    padding: 1em;
}

/* number id use to determine position and size for question number in quiz page */
#number {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bolder;
    padding: 1em;
}

/* img class use to determine size padding and margin in images for quiz page */
.img {
    padding: 1em;
    margin: 1em;
    margin-bottom: 0;
}

/* table class use to determine size padding and margin for table in result page */
.table {
    padding: 2em;
    margin-bottom: 3em;
    padding-bottom: 3em;
}

/* table tag use to determine position and border for table in result page */
table {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}

/* th(table header), td(table column) tags to determine text align and padding size */
th,
td {
    text-align: center;
    padding: 6px;
}

/* tr (table row) tag to determine background color */
tr:nth-child(even) {
    background-color: #eee8a9;
    color:black;
}

/* logo id to style logo in the pages */
#logo {
    width: 30%;
    max-width: 180px;
    height: inherit;
    padding: 1em;
}

/* Styles for media scren above 821px */
@media screen and (min-width: 821px) {
    /* answer id use to determine reposition for answers in big screens */
    #answer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* img tag with attribute to determine size for image answers with big screens */
    img#img_a,
    img#img_b,
    img#img_c {
        width: 25vw;
        height: 15vw;
    }

    /* table class use to determine resize table in big screens */
    .table {
        padding: 2em;
        margin: 2em;
        margin-bottom: 3em;
        padding-bottom: 3em;
    }

    /* th(table header), td(table column) tags to determine text align and padding resize in big screens */
    th,
    td {
        text-align: center;
        padding: 16px;
    }
}