html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right bottom, #89b1be, #6da1aa, #519195, #37807e, #1e7065, #2b7561, #38795c, #467d57, #6e9868, #97b27b, #c2cd91, #eee8a9);
    height: 100%;
    background-repeat: no-repeat;
}

header {
    padding: 1em;
}

h1 {
    font-size: 1.5em;
    text-align: center;
}

.center {
    text-align: center;
    padding: 1em;
}

.score {
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.count {
    display: flex;
    padding: 1em;
    justify-content:space-evenly;
}

#text {
    text-align: justify;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: large;
}

button {
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    font-weight: bold;
}

footer {
    padding: 1em;
    text-align: center;
}

.f-icon {
    padding: 1em;
    width: 40px;
    height: inherit;
}

#copyright {
    padding: 0;
    width: 15px;
    height: inherit;
}

img#img_a,
img#img_b,
img#img_c {
    width: 35vw;
    height: 25vw;
}

#answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#question {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    padding: 1em;
}

#number {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    padding: 1em;
}

.img {
    padding: 1em;
    margin: 1em;
    margin-bottom: 0;
}

.table {
    padding: 2em;
    margin: 2em;
    margin-bottom: 3em;
    padding-bottom: 3em;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}

th,
td {
    text-align: center;
    padding: 16px;
}

tr:nth-child(even) {
    background-color: #eee8a9;
}

@media screen and (min-width: 821px) {
    #answer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    img#img_a,
    img#img_b,
    img#img_c {
        width: 25vw;
        height: 15vw;
    }

    h1 {
        font-size: 3em;
    }
}